name: Terraform Plan

on:
  push:
    branches:
      - main  # Change this to your main branch name if different
env:
    AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2 
    - name: AWS 
      run: aws s3 ls
